<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,height=device-height,initial-scale=1.0" />
    <title>Battle Kards</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans" />
    <link rel="stylesheet" href="/styles.bundle.css" />
    <script src="/socket.io/socket.io.js"></script>
  </head>
  <body>
    <div id="app-container"></div>
    <script src="app.bundle.js"></script>
  </body>
</html>
