/* Hide vue show attribute used so they don't appear until vue instance is ready */
[v-show], [v-if], [v-else-if], [v-else], [v-cloak] {
  display: none;
}

body {
  background-color: #ecf0f1;
  color: #292929;
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  font-size: 2vh;
}

span {
  cursor: default;
}

.centerWindow {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#gameContainer {
  display: flex;
}

#game {
  flex: 65;
  order: 0;
  position: relative;
  height: 100vh;
  overflow-y: hidden;
}

#details {
  flex: 35;
  order: 1;
  height: 100vh;
  box-shadow: 0px 0px 2px #757D75;
}

.bar {
  display: flex;
  height: 5vh;
  width: calc(100% - 1px);
  position: absolute;
}

.bar div {
  padding: .5vh;
}

.flexEven {
  flex: 1 1 0;
}

.right {
  float: right;
}

.iconContainer {
  display: inline-block;
}

.bar .icon {
  height: 3vh;
}

.iconTitle {
  vertical-align: top;
}

#opponent {
  padding-top: 5vh;
  height: 35vh;
}

.scrollX {
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  height: 18vh;
  width: calc(100% - 1px);
}

.scrollXCardContainer {
  width: 60vh;
  margin: 0 auto;
}

.card {
  display: inline-block;
  width: 11vh;
  height: 16vh;
  font-size: 1.5vh;
  border-radius: 3px;
  background-color: #FFFFFF;
  box-shadow: 0px 1px 4px #757D75;
  margin: 0 0.5vh;
}

.cardPlaceholder {
  box-shadow: inset 0px 1px 3px #757D75;
}

.card div {
  padding: 0.5vh;
  text-align: center;
}

.card .title {
  text-overflow: ellipsis;
  overflow: hidden;
}

.card .atk {
  margin-top: 7vh;
}

#bottomBar {
  bottom: 0;
}
